*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body{
    background-color: rgb(59, 0, 148);
}

.header{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
}

.material-symbols-outlined logo-icon{
    width: 40px;
}