*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: rgb(255, 166, 0);
    list-style: none;
}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;  
}
.container{
    height: 100vh;
}    


.header{
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    align-items: center;
    gap: 10px;
    font-size: large;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    margin-bottom: 30px;
    padding: 10px;
}

.logo-icon{
    font-size: 40px;
}
h1{
    color: white;
}

.pro{
    color: orange;
}

.card{
    margin: auto;

    background-color:   rgb(0, 0, 0);
    width: 700px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    border: 0.01px solid white;
}

.inputs{
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

.input-group{
    display: flex;
    flex-direction: column;
    
}

input{
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    color: black;
}

.buttons{
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    gap: 15px;
    justify-self: center;
    padding: 5px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border: 0.01px solid white;
    color: white;
}   

button:hover{
    transition: ease-in-out 0.1s;
    background-color: rgb(68, 68, 68);
    transform: scale(1.1)
}

.btn-clear:hover{
    background-color: orange;
    color: white;
}

.resultado{
    margin: auto;

    background-color:   rgb(0, 0, 0);
    width: 700px;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
    border: 0.01px solid white;
    
}

li, li span{
    font-size: 25px;
    color: white;
}

